/* app css stylesheet */

body {
  padding-top: 70px;
}

.artist {
  position:relative;
}

.artist-avatar {
  width:150px;
  height: auto;
  padding-right:30px;
  vertical-align:top;
  float: left;
}

.panel {
  padding:30px 30px 60px;
}

.artist-name {
  margin-top:0;
}

.label-genre {
  font-size:1.2em;
}

.similar-artist-trigger {
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  cursor: pointer;
}

.similar-artist {
  padding:25px 0;
  border-bottom:1px solid #eee;
}

.similar-artist .artist-avatar {
  width:100px;
}

.find-similar {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}