<form class="form-horizontal" ng-submit="search.submit()">
    <div class="form-group">
        <div class="col-sm-8">
            <input uib-tooltip="{{search.error}}" tooltip-is-open="search.open" tooltip-trigger="none"
                   tooltip-class="error" tooltip-placement="bottom" type="text" class="form-control"
                   ng-click="search.open = false" ng-model="search.query"
                   placeholder="Search">
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-success btn-lg btn-block btn-raised">
                Go
            </button>
        </div>
    </div>
</form>