<div class="row">
    <div class="col-md-offset-2 col-md-8 text-center panel">
        <h1>Similar Artist Engine</h1>
        <p class="lead">Search for an artist and find similar artists! <br>
            Enter an artist name to get started!</p>

    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8 panel" searchbox></div>
</div>