<div class="similar-artist-trigger" ng-click="similarartist.loadSimilarArtists(similarartist.spotifyid)">
    <div class="find-similar" ng-if="similarartist.initialized == false">Click to Find Similar Artists</div>
</div>
<div>
    <div ng-if="similarartist.error">
        Sorry. We couldn't find any similar artists.
    </div>
    <div ng-repeat="(genre, artists) in similarartist.simlarArtists">
        <h3>Genre: {{ genre }}</h3>
        <hr>
        <div class="similar-artist clearfix" ng-repeat="artist in artists">
            <img class="artist-avatar" ng-src="{{ artist.image }}">
            <div class="pull-right">
                Popularity: {{ artist.popularity }}
            </div>
            <h4 class="artist-name">{{ artist.name }}</h4>
                <span ng-repeat="genre in artist.genres">
                    <span class="label label-info">{{ genre }}</span>
                </span>
        </div>
    </div>
    </div>