<div ng-if="ctrl.error">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>We're Sorry</h1>
            <p class="lead">We couldn't find any artists. <br>
                Please try again!.</p>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 panel" searchbox query="{{ ctrl.query }}"></div>
</div>

<div ng-if="!ctrl.error">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default artist clearfix" ng-repeat="artist in ctrl.results">
                <div class="clearfix">
                <img class="artist-avatar" ng-src="{{ artist.image }}">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="javascript:void(0)"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="badge">{{ artist.popularity }}</span></a></li>
                </ul>
                <h2 class="artist-name">{{ artist.name }}</h2>
                <span ng-repeat="genre in artist.genres">
                    <span class="label label-info label-genre">{{ genre }}</span>
                </span>
                </div>
                <div similarartists spotifyid="{{ artist.id }}"></div>
            </div>

        </div>
    </div>

</div>